<h2>Dear <%= @user.email %></h2>

<p>
  You have a reservation at <%= @reservation.restaurant %>, tomorrow (<%= @reservation.date %>) at <%= @reservation.time.to_formatted_s(:time) %>.
</p>

<p>
  See you then!
</p>

<p>
  <strong>TableDynamix Team</strong>
</p>
